/* logo */
#logo-wrap {
    margin: 55px 0 20px 0;
    text-align: center;
}

#logo-wrap img{
    margin-bottom: 15px;
}

#logo-wrap h1 {
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 27px;
}

@media screen and (max-width: 450px) {
    #logo{
        width: 80%;
    }
}