<md-content flex layout="column" layout-align="center center">
    <md-content style="width: 500px;">
        <md-list>
            <md-subheader class="md-no-sticky">Listing here</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in list.demolist">
                <img src="img/avatar.png" class="md-avatar" alt="avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.subjectId }}</h3>
                    <h4>{{ item.subjectName }}</h4>
                    <p>{{ item.indexDelta }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>
