<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Menus</h4>
      </div>
      <div class="aside-body" bs-navbar>
          <ul class="nav nav-pills nav-stacked">
              <li data-match-route="/home" ng-click="$hide()"><a href="<% if(answers.pushState){ %>home<% }else{ %>#/home<% } %>">Home</a></li>
              <li data-match-route="/about" ng-click="$hide()"><a href="<% if(answers.pushState){ %>about<% }else{ %>#/about<% } %>">About</a></li>
          </ul>
      </div>
      <div class="aside-footer">
      </div>
    </div>
  </div>
</div>