<div id="why">
    <h4>You may choose it if you are looking for skeleton with:</h4>
    <ul>
        <li>full featured dev/dist tools</li>
        <li>flexible structure, external libraries can be easily injected</li>
        <li>robust functionality, no black magic behind, just <code>AngularJS</code> usage</li>
        <li>ES2015 implementation</li>
    </ul>
</div>

<div id="more">
    <a href="https://github.com/leftstick/generator-es6-angular/blob/master/docs/api.md" target="_blank" class="button">
        more read
    </a>
</div>
