<div id="logo-wrap">
      <img id="logo" src="../../../../img/AngularJS-large.png">
      <h1>generator-es6-angular</h1>
</div>

<p id="desc">
    Flexible, robust skeleton for AngularJS, including full featured dev/release process<br/><br/>
    Very welcome to give me feedbacks! <br/><br/>
    Stars would be the best^^!!
</p>

<div id="github">
    <iframe src="http://ghbtns.com/github-btn.html?user=leftstick&repo=generator-es6-angular&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=leftstick&repo=generator-es6-angular&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
</div>

<div id="todo-app">
    <h2>Simple TODO app</h2>
    <input type="text" placeholder="Typing here..." ng-keyup="home.addTodo($event)">

    <span>{{ home.remaining() }} of {{ home.todos.length }} remaining</span>

    <ul class="todos">
        <li ng-repeat="todo in home.todos">
            <input type="checkbox" ng-model="todo.finished">
            <span ng-style="{'text-decoration': todo.finished ? 'line-through' : 'none'}">
                {{ todo.txt }}
            </span>
        </li>
    </ul>

    <a href="" class="archive" ng-disabled="home.remaining() === home.todos.length" ng-click="home.archive()">archive</a>
</div>

<div id="footer">
    <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
    <p>Copyright (c) 2016 <a href="https://github.com/leftstick" target="_blank">Howard.Zuo</a></p>
</div>
