<md-toolbar layout="row" class="md-whiteframe-z1" ng-controller="ToolbarController">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button toolbar-icon" hide-gt-sm ng-click="toggleSidebar('left-side')" aria-label="Show sidebar">
            <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
        <img src="img/logo.png" class="logo">
        <span flex></span>
        <md-button class="md-icon-button toolbar-icon" aria-label="show home" ng-click="go($event, '/home')">
            <md-icon md-font-icon="icon-home-outline"></md-icon>
        </md-button>
        <md-button class="md-icon-button toolbar-icon" aria-label="show list" ng-click="go($event, '/list')">
            <md-icon md-font-icon="icon-th-outline"></md-icon>
        </md-button>
        <md-button class="md-icon-button toolbar-icon" aria-label="github" href="https://github.com/leftstick/generator-es6-angular" target="_blank" style="line-height: 40px;">
            <md-icon md-font-icon="icon-github"></md-icon>
        </md-button>
    </div>
</md-toolbar>
